.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;	
    align-items: center;
    background-color: #86bd24;
    position : sticky;
    height:90px;
    width:100%;
    top : 0;
    }

